.icon{
    border: none;
    background-color: transparent;
    color: #aa4465;
    font-size: x-large;
    padding:0.5rem;
}

.image{
    border: none;
    background-color: transparent;
}

.image img{
    height: 30px;
}
.text{
    border: none;
    background-color: #8f5c38;
    color: bisque;
    font-size: medium;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.arrow{
    border-radius: 100px;
}