.icon{
    border: none;
    background-color: transparent;
    color: #aa4465;
    font-size: x-large;
    padding:0.5rem;
}

.image{
    border: none;
    background-color: transparent;
}

.image img{
    height: 30px;
}
.text{
    border-radius: 5px;
}

.arrow{
    border-radius: 100px;
}