.productList{
    display:flex;
    flex-direction:row;
}


.sidebar{
    display:block;
    width:15%;
    margin-top:5rem;
    margin-left:1rem;
    text-align: left;
  }

  .productGrid{
    width: 80%;
    margin-left:1rem;
  }