
.slider{
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow:hidden;
}
.banner{
    display:inline-flex; 
    justify-content: center;
    width:100%
}
.bannerSlideImage{
    width: 90%;
 }
 
 .bannerSlideTitle{
     font-size: small;
    font-weight: 700;
    text-align: left;
     margin-left: -0.6rem;
     color:bisque;
 }
 
 .bannerSlideDescription{
     font-size: x-small;
    margin-top: -0.rem;
     position:relative;
     text-align: justify;
     color:bisque;
 }
 
 .bannerBlock{
     position: absolute;
     top: 0rem;
     width:35%;
     height: 97%;
     margin-left: 55%;
     background-color: #8f5c38;
     padding-left: 5px;
     white-space: normal;
 }
 
 /*Categories style*/
 
 
 .category{
     display:inline-flex;
     align-items: center;
     justify-content: center;
     width:40%;
     margin:2%;
 }
 .categorySlideImage{
    width: 100%;
    border-radius: 10%;
 }
 
 .categorySlideTitle{
     font-size: x-large;
     margin-top: 50%;
     color:bisque;
 }
 
 .categoryBlock{
     position: absolute;
     width:40%;
     margin-top: 10rem;
     height: 20%;
     opacity:0.8;
     transition: .5s ease;
     background-color: #8f5c38;
     white-space: normal;
     border-radius: 10%;
 }


.arrows{
width: 100%;
position:relative;
}

.arrows button{
border-radius: 100px;
border:none;
background-color: transparent;
color:#353a18;

}

.arrows button.active{
    color:#353a18;
}
.arrows button.inactive{
    color:#a89b8c;
}
@media only screen and (min-width: 1024px) {
.bannerSlideImage{
   width: 90%;
}

.bannerSlideTitle{
    font-size: medium;
    position:relative;
    padding:2rem;
    top:7%;
    left:20%;
    color:bisque;
}

.bannerSlideDescription{
    font-size: xx-large;
    height: 15%;
    position:relative;
    text-align: justify;
    top:5rem;
    color:bisque;
}

.bannerBlock{
    position: absolute;
    top: 0rem;
    width:25%;
    height: 100%;
    margin-left: 65%;
    background-color: #8f5c38;
    padding-left: 20px;
    padding-right: 20px;
    white-space: normal;
}

/*Categories style*/


.category{
    display:inline-flex;
    align-items: center;
    justify-content: center;
    width:40%;
    margin:2%;
}
.categorySlideImage{
   width: 100%;
   border-radius: 10%;
}

.categorySlideTitle{
    font-size: x-large;
    margin-top: 50%;
    color:bisque;
}

.categoryBlock{
    position: absolute;
    margin:2%;
    width:40%;
    height: 87%;
    opacity:0;
    transition: .5s ease;
    background-color: #8f5c38;
    white-space: normal;
    border-radius: 10%;
}
.category:hover .categoryBlock{
    opacity:0.7;
 }
/* end style*/
}
