.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

header{
  width: 100%;
  background-color: #FCF8EE;
  height: 2rem;
  padding: 0.2rem;
  display:flex;
  flex-direction: row;
  justify-content:space-between;
}

.App-link {
  color: #61dafb;
}

.footer{
  background-color:#a89b8c;
  width:100%;
  bottom:0;
  padding:0.7rem;
  color:white;
  text-align: left;
  font-size: 1rem;
}
.slider{
  overflow:hidden;
}
.inner{
  white-space: nowrap;
  transition: transform 0.3s;;
}